<h1>Lists</h1>
<div class="d-flex mx-auto p-5">
<% @lists.each do |list| %>
  <%= link_to list_path(list.id) ,:class => "text-decoration-none" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= list.name %>
    </div>
  <% end %>
<% end %>

</div>
<%= link_to 'New List', new_list_path , :class => "btn btn-info"%>
